body {
    box-sizing: border-box;
    padding: 10px 10px;
    height: 70px;
}

#ba1{
    filter: brightness(50%);   
}

#texto{
    color: white;
    font-size: 1.3vw;
    text-align:right;
    transform: translateX(-5%) translateY(40%);
}

#textoba1{
    line-height: 150%;
}
@media(max-width: 831px){
    #texto{
        text-align:center;
        width: 200px;
        font-size: 1.4vw;
        transform: translateX(10%);
    }
    #boton{
        font-size: 1.4vw;
    }
}

#oradores{
    text-align: center;
}

#oradores2{
    text-align: center;
}

#hablar{
    opacity: 60%;
}

#botonenviar{
    color: white;
    background-color:yellowgreen ;
}

footer{
    color:white;
    background-color:rgb(21, 47, 69);
    text-align:center;

}
